# Игнорировать папку venv/
venv/
# Игнорировать папку models/
models/
# Игнорировать кэш в rasa
.rasa/cache
# Игнорировать все файлы .pyc (скомпилированные Python-файлы)
*.pyc
# Игнорировать все папки __pycache__ (кеш Python)
__pycache__/
# Дополнительно: игнорируем .pyo и .pyd (оптимизированные и бинарные файлы Python)
*.pyo
*.pyd
